.pasta {
    font-size: 40px;
    font-weight: 800;
    color: orange;
    font-family: "Arial", sans-serif;
}

.ingredients.pasta {
    background-color: aqua;
    font-size: 15px;
    color: black;
}

.steps#for-pasta {
    font-family: "Georgia", serif;
    font-weight: 1000;
    color: orange;
}

#burger-description {
    color: red;
    font-family: "Georgia", sans-serif;
}

.ingredients .egg {
    font-weight: 800;
    color: green;
}

.ingredients.burger {
    color: brown;
    font-family: "Courier New", sans-serif;
    font-size: 20px;
}

.ingredients.kharcho,
.steps.kharcho {
    color: blueviolet;
    font-family: "Brush Script MT", monospace;
    background-color: blanchedalmond;
}

li {
    padding: 8px;
    border: 2px solid black;
    margin: 5px;
}

h3 {
    border: 2px solid red;
    text-align: center;
}

span.ingr {
    text-align: center;
    width: 100px;
    border: 2px solid black;
    margin: 0 auto;
    display: block;
}

span.spaghetti {
    text-align: center;
    width: 400px;
    box-sizing: content-box;
    background-color: red;
    padding: 0 100px;
    border: 2px solid black;
    margin: 0 auto;
    display: block;
}

span.hamburger {
    background-color: blueviolet;
    padding: 10px 5px;
    border: 2px solid black;
    display: inline-block;
}

span.kharcho {
    background-color: green;
    padding: 10px 5px;
    border: 2px solid black;
    display: inline-block;
}